@import'font.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

body{
    font-family: 'Roboto';
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* header satrt */
.header__nav{
    background: #322E41;

}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link{
    color: white;
}

.header__list{
    display: flex;

}

.header__link{
    color: white;
    padding: 23px 22px;
    display: inline-block;  
    transition: .5s;  
}

.header__link:hover{
    background: white;
    color: #D47300;
}

.header__content{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header__content img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header__desc{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.header__title{
    color: white;
    font-size: 50px;
}

.header__txt{
    color: white;
    font-size: 18px;
}

/* header end */

